/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100vh;
    background-color: #424242;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a.jira {
    width: 50px;
    display: inline-flex;
    justify-content: center;
}

.mat-expansion-panel.mat-expanded,
.mat-expansion-panel.mat-expanded {
  background: lighten(#424242, 10%);
}

mat-panel-title {
  align-items: center;
} 