<div class='progress-wrapper'>
    <div class='to-do'
      matTooltip="To Do: {{epic.toDoNumber}}"
      matTooltipPosition="above"
      *ngIf='epic.toDoNumber > 0'
      [ngStyle]="{'width': toDoPercent}"
    >{{epic.toDoNumber}}</div>
    <div class='in-progress'
      matTooltip="In Progress: {{epic.inProgressNumber}}"
      matTooltipPosition="above"
      *ngIf='epic.inProgressNumber > 0'
      [ngStyle]="{'width': inProgressPercent}"
    >{{epic.inProgressNumber}}</div>
    <div class='done'
      matTooltip="Done: {{epic.doneNumber}}"
      matTooltipPosition="above"
      *ngIf='epic.doneNumber > 0'
      [ngStyle]="{'width': donePercent}">
      {{epic.doneNumber}}</div>
    <div class='other'
      matTooltip="Other: {{epic.otherNumber}}"
      matTooltipPosition="above"
      *ngIf='epic.otherNumber > 0'
      [ngStyle]="{'width': otherPercent}"
    >{{epic.otherNumber}}</div>
</div>
