
:host {
    .progress-wrapper {
        display: flex;
        width: 100px;
        min-width: 300px;
        div {
            text-align: center;
        }
        div:first-of-type {
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
        }
        div:last-of-type {
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
        }

        .to-do {
            background-color: gray;
        }

        .in-progress {
            background-color: rgb(97, 97, 235);
        }

        .done {
            background-color: rgb(114, 185, 114);
        }

        .other {
            background-color: rgb(228, 109, 109);
        }
    
    }
}


