<mat-card>
        <mat-toolbar>
            <span>Jiranator</span>
        </mat-toolbar>
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/project/new">New Project</a>
            <a mat-tab-link routerLink="/project">All Projects</a>
            <a mat-tab-link routerLink="/epics/PP">Artemis</a>
            <a mat-tab-link routerLink="/epics/ZEUS">Zeus</a>
            <a mat-tab-link routerLink="/epics/AN">Analytics</a>
        </nav>
    </mat-card>

<router-outlet></router-outlet>