<mat-nav-list>
    <a *ngFor="let projectData of projects; let i=index;"
      mat-list-item
      routerLink="/project/{{projectData.projectId}}">
      <div style="width: 20%;">
        {{projectData.projectObject.epicName}}
      </div>
      <div>
        {{projectData.projectObject.objective}}
      </div>
    </a>
</mat-nav-list>
