<mat-card><h1>THIS NEEDS A SUMMARY - TALK TO DALLIN ABOUT WHAT SUMMARY THEY WANT.</h1></mat-card>
<table mat-table matSort start="desc" [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Jira </th>
    <td mat-cell *matCellDef="let epic"><a class='jira' href='https://artemishealth.atlassian.net/browse/{{epic.key}}'>{{epic.key}}</a></td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
    <td mat-cell *matCellDef="let epic"><div class='priority'>{{epic.priority}}</div></td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let epic" matTool> {{epic.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Summary </th>
    <td mat-cell *matCellDef="let epic"
    matTooltip="{{epic.description}}"
    matTooltipPosition="below"
    > {{epic.summary}} </td>
  </ng-container>
  
  
   <ng-container matColumnDef="issue-count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Count </th>
    <td mat-cell *matCellDef="let epic"> {{epic.length}} </td>
  </ng-container>

  <ng-container matColumnDef="status-bar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Epic Status </th>
    <td mat-cell *matCellDef="let epic"> 
      <app-epic-status-bar
        [epic] = "epic">
      </app-epic-status-bar>
    </td>
  </ng-container>

  <ng-container matColumnDef="due-date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
    <td mat-cell *matCellDef="let epic"><div class='date'>{{epic.dueDate | date}}</div></td>
  </ng-container>
  
  <ng-container matColumnDef="engineering-ready">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Engineering Status </th>
      <td mat-cell *matCellDef="let epic">
        <app-engineering-ready-status
          [epic] = "epic">
        </app-engineering-ready-status>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
