:host {
    display: block;
    .mat-table {
        width: 100%;
    }

    .jira {
        background-color: white;
        border-radius: 1px;
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
    }

    .date {
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    .priority {
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
    }
}