<mat-card>
    <mat-card>
        <mat-card-title>Status</mat-card-title>
        <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile>
              <ngx-charts-pie-chart
                [results]="workTypeResults"
                [legend]="true"
                [explodeSlices]="true"
                >
              </ngx-charts-pie-chart>
            </mat-grid-tile>
            <mat-grid-tile>
              <ngx-charts-pie-chart
                [results]="validRequirementResults"
                [customColors]="customColors"
                [legend]="true"
                [explodeSlices]="true"
                >
              </ngx-charts-pie-chart>
            </mat-grid-tile>
            <mat-grid-tile>
              <ngx-charts-pie-chart
                [results]="validTestPlanResults"
                [customColors]="customColors"
                [legend]="true"
                [explodeSlices]="true"
                >
              </ngx-charts-pie-chart>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-card>
      <form [formGroup]="projectForm">
        <mat-card>
          <mat-card-title>Project Information</mat-card-title>
          <button mat-flat-button color="accent" (click)="createJiras()">Create Jiras</button>
          <mat-form-field>
            <mat-label>Main Epic Project</mat-label>
            <mat-select formControlName="project">
              <mat-option *ngFor='let projectInfo of projects' value={{projectInfo.value}}>{{projectInfo.niceName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="project.errors?.required">Project is required!</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="dueDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="dueDatePicker"
              placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Epic Name</mat-label>
              <input matInput type="text" formControlName="epicName" placeholder="This should be a recognizeable name for the Epic">
            <mat-error *ngIf="epicName.errors?.required">Epic Name is required!</mat-error>
            <mat-error *ngIf="epicName.errors?.maxlength"> Please write a shorter Epic Name. You have {{epicName.value.length}} of a maximum of {{maxEpicNameLen}} characters.</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Stakeholders</mat-label>
              <input matInput type="text" formControlName="stakeholders" placeholder="This should be a list of stakeholders that will need to sign off">
            <mat-error *ngIf="epicName.errors?.required">Stakeholders are required!</mat-error>
          </mat-form-field>
        </mat-card>
        <mat-card>
          <mat-card-title>Business Reasons</mat-card-title>
          <mat-form-field class="full-width">
            <mat-label>Objective</mat-label>
            <textarea matInput formControlName="objective" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              placeholder="This is where you'd write an objective that the project is designed to solve.  This helps others understand choices made and goals.  Minimum of 64 characters.">
            </textarea>
            <mat-hint align="end">{{objective.value.length}} / 64 min</mat-hint>
            <mat-error *ngIf="objective.errors?.minlength">Please write a more descriptive objective.  You have {{objective.value.length}} of a minimum of {{minDesLen}} characters.</mat-error>
            <mat-error *ngIf="objective.errors?.required">Objective is required!</mat-error>
          </mat-form-field>
        </mat-card>
        <mat-card>
          <mat-card-title>Requirements <button mat-flat-button color="accent" (click)="addRequirement()">Add Another Requirement</button></mat-card-title>
            <mat-accordion>
              <div formGroupName="requirements" *ngFor="let requirement of requirements.controls; let i=index;">
                <mat-expansion-panel [formGroupName]="i">
                  <mat-expansion-panel-header>
                    <mat-panel-title align='center'>
                      <button mat-flat-button
                        (click)='removeRequirement(i)'
                        [ngClass]="requirement.valid ? 'ready-status' : 'not-ready-status'"
                        >X</button>
                      <div class="padded-text">
                          {{parseRequirementDisplay(requirement)}}
                      </div>

                    </mat-panel-title>
                    <mat-panel-description>{{requirement.value.summary}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <mat-label>Project</mat-label>
                    <mat-select formControlName="project">
                      <mat-option *ngFor='let projectInfo of projects' value={{projectInfo.value}}>{{projectInfo.niceName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="requirement.controls.project.errors?.required">Project is required!</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Story Points</mat-label>
                    <input matInput type="number" formControlName="storyPoints">
                    <mat-hint>This should be a numerical value.</mat-hint>
                  </mat-form-field>
                  <!-- Optionally required work type field -->
                  <mat-form-field *ngIf="requirement.controls.project.value === 'PP'">
                    <mat-label>Work Type</mat-label>
                    <mat-select formControlName="workType">
                      <mat-option *ngFor='let workTypeOption of workTypes' value={{workTypeOption.value}}>{{workTypeOption.niceName | titlecase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Summary</mat-label>
                    <input matInput type="text" formControlName="summary" placeholder="This should be a brief summary between {{minSumLen}} and {{maxSumLen}} characters.">
                    <mat-hint align="end">{{requirement.controls.summary.value.length}} / {{minSumLen}} min</mat-hint>
                    <mat-error *ngIf="requirement.controls.summary.errors?.minlength">Please write a more descriptive summary. You have {{requirement.controls.summary.value.length}} of a minimum of {{minSumLen}} characters.</mat-error>
                    <mat-error *ngIf="requirement.controls.summary.errors?.maxlength">Please be more concise with your summary. You have {{requirement.controls.summary.value.length}} of a maximum of {{maxSumLen}} characters.</mat-error>
                    <mat-error *ngIf="requirement.controls.summary.errors?.required">Summary is required!</mat-error>
                    <mat-hint align="start">Please write a brief description of the objective this project will have</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                      placeholder="This should be a description of the user story - at least {{minDesLen}} characters.">
                    </textarea>
                    <mat-hint align="end">{{requirement.controls.description.value.length}} / {{minDesLen}} min</mat-hint>
                    <mat-error *ngIf="requirement.controls.description.errors?.minlength">Please write a more descriptive objective. You have {{requirement.controls.description.value.length}} of a minimum of {{minDesLen}} characters.</mat-error>
                    <mat-error *ngIf="requirement.controls.description.errors?.required">Description is required!</mat-error>
                    <mat-hint align="start">Please write a brief description of the objective this project will have</mat-hint>
                  </mat-form-field>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
        </mat-card>

        <mat-card>
          <mat-card-title>Test Plan <button mat-flat-button color="accent" (click)="addTestDate()">Add Another Test Plan Item</button></mat-card-title>
            <mat-accordion>
              <div formGroupName="testPlan" *ngFor="let testPlanItem of testPlan.controls; let i=index;">
                <mat-expansion-panel [formGroupName]="i">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <button mat-flat-button
                      [ngClass]="testPlanItem.valid ? 'ready-status' : 'not-ready-status'"
                      (click)='removeTestDate(i)'>X</button>
                      {{testPlanItem.value.testDate | date}}
                    </mat-panel-title>
                    <mat-panel-description>{{testPlanItem.value.summary}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput formControlName="testDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Summary</mat-label>
                    <input matInput type="text" formControlName="summary" placeholder="This should be a brief summary between {{minSumLen}} and {{maxSumLen}} characters.">
                    <mat-hint align="end">{{testPlanItem.controls.summary.value.length}} / {{minSumLen}} min</mat-hint>
                    <mat-error *ngIf="testPlanItem.controls.summary.errors?.minlength"> Please write a more descriptive summary. You have {{testPlanItem.controls.summary.value.length}} of a minimum of {{minSumLen}} characters.</mat-error>
                    <mat-error *ngIf="testPlanItem.controls.summary.errors?.maxlength">Please be more concise with your summary. You have {{testPlanItem.controls.summary.value.length}} of a maximum of {{maxSumLen}} characters.</mat-error>
                    <mat-error *ngIf="testPlanItem.controls.summary.errors?.required">Summary is required!</mat-error>
                    <mat-hint align="start">Please write a brief description of the objective thisproject will have</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                      placeholder="This should be a description of the user story - at least {{minDesLen}} characters.">
                    </textarea>
                    <mat-hint align="end">{{testPlanItem.controls.description.value.length}} / {{minDesLen}} min</mat-hint>
                    <mat-error *ngIf="testPlanItem.controls.description.errors?.minlength">Please write a more descriptive test plan description. You have {{testPlanItem.controls.description.value.length}} of a minimum of {{minDesLen}} characters.</mat-error>
                    <mat-error *ngIf="testPlanItem.controls.description.errors?.required">Description is required!</mat-error>
                    <mat-hint align="start">Please write a brief description of the testing item</mat-hint>
                  </mat-form-field>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
        </mat-card>

        <mat-card>
          <mat-card-title>Additional Considerations</mat-card-title>
          <mat-form-field  class="full-width">
            <mat-label>Release Considerations</mat-label>
            <textarea matInput formControlName="releaseConsiderations" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              placeholder="This is where you'd write a description of the release considerations.  Minimum of 64 characters."></textarea>
            <mat-hint align="end">{{releaseConsiderations.value.length}} / 64 min</mat-hint>
            <mat-error *ngIf="releaseConsiderations.errors?.minlength">Please write more descriptive release considerations. You
              have {{releaseConsiderations.value.length}} of a minimum of {{minDesLen}} characters.</mat-error>
            <mat-error *ngIf="releaseConsiderations.errors?.required">Release considerations are required!</mat-error>
          </mat-form-field>
        </mat-card>

      </form>

      <mat-card>
          Form Value: {{ projectForm.value | json }}
      </mat-card>

      <mat-card>
          Form Status: {{ projectForm.status }}
      </mat-card>

</mat-card>