:host {

    .full-width {
        width: 100%;
    }

    .spaced-checkbox {
        padding: 0px 10px;
    }

    .mat-form-field {
        padding: 0px 10px;
    }

    .ready-status {
        background: rgb(93, 207, 93);
    }

    .not-ready-status {
        background: rgb(212, 89, 89);
    }

    .padded-text {
        padding: 0 0 0 10px;
    }
}